@model Login.ViewModels.ResetPasswordRequestViewModel

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<div class="row">
    <div class="col-md-5" style="float: none; margin: 0 auto;">
        <div id="errorPlaceHolder"></div>
    </div>
    <div class="col-md-5" style="float: none; margin: 0 auto;">
        <h2>RESET HASŁA</h2>        
        <form class="form-horizontal">
            <div class="form-group">
                <label for="Email" class="col-sm-3 control-label">E-MAIL</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control"})
                </div>
                <div class="col-sm-3" id="EmailError">
                    @Html.ValidationMessageFor(x => x.Email)
                </div>
            </div>            
            <div id="bottomMenu" class="col-md-offset-3 col-md-6">
                <input type="button" class="btn btn-success" value="WYŚLIJ" onclick="resetPassword()" />
                <input type="button" class="btn btn-warning" value="ANULUJ" onclick="showLoginView()" />
            </div>
        </form>
    </div>
</div>
