@model WebDBApp.ViewModels.TestDataViewModel

<div class="row">
    <div class="panel panel-default col-md-6" style="float: left; ">
        <h2>Wyskok dosiężny</h2>

        <p style="margin:5px 5px 5px 20px">
            Próba często stosowana w szkole, sporcie, jest jednym z elementów testów sprawnościowych. Polega na pomiarze odległości między poziomem, który osiąga osoba badana stojąc, a wysokością, która osiąga w wyskokou. Można uznać, że służy on ocenie sprawności ośrodkowego układu nerwowego (OUN) i układu ruchu (ocena koordynacji nerwowo-mięśniowej). Na podstawie wyskoku trudno kwalifikować sprawność metaboliczną, ale można oceniać efekty treningu. Trudno też przedstawić ilościową interpretację wyników, jednak indywidualna kontrola zmian wywołanych przez trening może być bardzo interesująca i przydatna w ocenie jego wyników.
        </p>
        <p style="margin:5px 5px 5px 20px">
            Ocena tej próby różni się w zależności płci. Rezultat należy podawać w centymetrach!
        </p>
        <img  style="padding: 10px 5px 5px 220px; width: auto" src="~/Content/Images/wyskok.png" />
    </div>
    <div class="panel panel-default col-md-6" style="float: right; padding: 5px 5px 5px 10px ;">
        <h2>Wprowadź wyniki</h2>
        <form class="form-horizontal">
            @Html.HiddenFor(model => model.ID)
            <div class="form-group">
                <label for="Result" class="col-sm-3 control-label">REZULTAT</label>
                <div class="col-sm-6">
                    @Html.TextBoxFor(x => x.Result, new { @class = "form-control"})
                </div>
                <div class="col-sm-3">
                    @Html.ValidationMessageFor(x => x.Result)
                </div>
            </div>
            <div id="bottomMenu" class="col-md-offset-3 col-md-6">
                <input type="button" class="btn btn-success" value="WYŚLIJ" onclick="getResult()" />
            </div>
        </form>
    </div>
</div>


<div id="resultDiv" class="row" hidden>
    <div class="col-md-5" style="float: none; margin: 0 auto;">
        <p style="font-size:30px; font-family:Arial; font-weight:bold; text-align:center;">
            Twój wynik to:  <span style="font-size:27px; font-family:Arial; font-weight:400; text-align:left;" id="resultOfTest"></span>
        </p>
    </div>
</div>