@{
    ViewBag.Title = "Scheduler";
}
@* HTML *@
<div class="margin-top"> </div>
<div  ng-app="myApp" ng-controller="myNgController">
    <div class="row">
        <div class="col-md-8">
            <div id="calendar" class="cale"  ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>
        </div>
        <div class="col-lg-3">
            <div ng-show="SelectedEvent" class="alert alert-success" style="margin-top:50px">
                <h2 style="margin-top:0px; font-family: Arial; font-size: 30px; font-weight:bolder">{{SelectedEvent.title}}</h2>
                <h3 style="color:#A9A50E"><strong>Trainer: </strong> {{SelectedEvent.trainer}}</h3>
                <p><strong>Description: </strong> {{SelectedEvent.description}}</p>
                <p><strong>Starts at: </strong> {{SelectedEvent.start | date:'MM/dd/yyyy'}}</p>
                <p><strong>Ends at: </strong> {{SelectedEvent.end | date:'MM/dd/yyyy'}}</p>                
                <p>
                    <a ng-if="SelectedEvent.DidJoin == false" href="@Url.Action("JoinEvent", "Calendar" )?id={{SelectedEvent.id}}">
                        Join
                        <span class="glyphicon glyphicon-check"></span>
                    </a>
                </p>
                <p>
                    <a ng-if="SelectedEvent.DidJoin == true" href="@Url.Action("LeaveEvent", "Calendar" )?id={{SelectedEvent.id}}">
                        Leave
                        <span class="glyphicon glyphicon-share"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

@* OUR ANGULAR COMPONENTs *@
<script src="~/Scripts/calendar/MyApp.js"></script>

<style>
    strong{
        font-size: 20px;
    }
    a{
        font-size:15px;
        color:#A9A50E;
        font-weight:bolder;
    }
</style>